################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Wow/FileContentIndex/23f563e0-f956-4862-a87f-62063491fb46.vsidx
