@page "/profile"
@using Wow.Controllers

<PageTitle>Профиль @AccountController.user.Login | WoWch</PageTitle>

<head>
    
</head>
<body class="body-profile">
    <div class="profile-information-bar">
        <h3>
            Профиль @AccountController.user.Login
        </h3>
    </div>
    <div class="profile-body">
        <p style="font-size: 14pt">
            Дата регистрации: @AccountController.user.RegistrationDate
        </p>
    </div>
</body>


@code {

}
