@page "/profile"
@using Wow.Controllers

<PageTitle>Профиль</PageTitle>

<head>
    
</head>
<body>
    <div>
        <h1>
            Привет,
            
                @AccountController.user.Login 
            , соси нос ахрамович
        </h1>
    </div>
</body>


@code {

}
