@page "/registration"
@using Microsoft.EntityFrameworkCore;
@using Npgsql;

<head>
    <link rel="stylesheet" href="css/Registration.css">
</head>

<body>
    <div class="reg-body">
        <div class="reg-items">
            <h2>Регистрация</h2>
            <form method="post" asp-action="WriteThemeToDB()">
                <p>@password</p>

                <div>
                    <input type="text" @bind="login" placeholder="Логин">
                </div>
                <div>
                    <input type="email"  @bind="email"  placeholder="Электронная почта">
                </div>
                <div>
                    <input type="password" @bind="password" placeholder="Пароль">
                </div>
                <div>
                    <input class="reg-button" type="submit " value="Отправить" @onclick="WriteThemeToDB" />
                </div>
            </form>

        </div>
    </div>
</body>


@code{
    private string? login;
    private string? email;
    private string? password;

    public void WriteThemeToDB()
    {
        const string link1 = "Server=localhost;Port=5432;Username=user;Password=password;Database=postgres";

        NpgsqlConnection conn = new NpgsqlConnection(link1);
        conn.ConnectionString = link1;

        conn.Open();
        NpgsqlCommand cmd = new NpgsqlCommand();

        //cmd.CommandText = "INSERT INTO themes(HEADER, RELEASEDATE, CREATOR, TEXT) VALUES ('я люблю котлеты', '11/03/2023', 'xtc', 'я люблю котлеты, это моя любимая еда');";
       
        cmd.CommandText = $"INSERT INTO users(LOGIN, PASSWORD, EMAIL, REGISTRATIONDATE) VALUES('{login}', '{password}', '{email}', '{DateTime.Now.Year}/{DateTime.Now.Month}/{DateTime.Now.Day}');";
        cmd.Connection = conn;
        cmd.ExecuteNonQuery();
        conn.Close();
    }

}