@page "/registration"
@using Microsoft.EntityFrameworkCore;
@using Npgsql;
@using Wow.Models;
@using Wow.Controllers;
@inject NavigationManager Navigation

<head>
    <link rel="stylesheet" href="css/Registration.css">
</head>

<body class="signit-body">
    <div class="login-container">
        <h2 class="login-title">Регистрация</h2>
            <form method="post">
                <div class="input-container">
                    <input class="input-field" type="text" @bind="login" placeholder="Логин" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="email" @bind="email" placeholder="Электронная почта" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="password" @bind="password" placeholder="Пароль" required>
                </div>
            <div class="input-button-container">
                    <input type="button" class="login-button" href="" @onclick="Reg" value="Зарегистрироваться"/>
                    <input type="button" class="login-button" href="signin" value="Войти"/>
                </div>
            </form>
    </div>
</body>


@code{
    private static string login;
    private static string email;
    private static string password;
    private const string link1 = "Server=localhost;Port=5432;Username=user;Password=password;Database=postgres";


    void Reg()
    {
        AccountController.Register(login, password, email);
        Navigation.NavigateTo("/");
    }
}