@page "/registration"
@using Microsoft.EntityFrameworkCore;
@using Npgsql;
@using Wow.Models;
@using Wow.Controllers;
@inject NavigationManager Navigation

<head>
    <link rel="stylesheet" href="css/Registration.css">
</head>

<body class="body-back">
    <div class="reg-body">
        <div class="reg-items">
            <h2>Регистрация</h2>
            <form method="post" >
                <div class="input-container">
                    <input class="input-field" type="text" @bind="login" placeholder="Логин" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="email" @bind="email" placeholder="Электронная почта" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="password" @bind="password" placeholder="Пароль" required>
                </div>
                <div>
                    <a class="reg-button" href="" @onclick="Reg">Зарегистрироваться</a>
                </div>
                <div >
                    <a class="reg-button" href="" >Войти</a>
                </div>
            </form>

        </div>
    </div>
</body>


@code{
    private static string login;
    private static string email;
    private static string password;
    private const string link1 = "Server=localhost;Port=5432;Username=user;Password=password;Database=postgres";


    void Reg()
    {
        AccountController.Register(login, password, email);
        Navigation.NavigateTo("/");
    }
}