@page "/signin"
@using Wow.Controllers
@using Wow.Models

@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<head>
    <link rel="stylesheet" href="css/Registration.css">
</head>
<body>
<div>
    <div style="margin-left: 40%">
        <h2>Авторизация</h2>
        <form method="post">
            <div class="input-container">
                <input class="input-field" type="text" @bind="login" placeholder="Логин" required>
            </div>
            <div class="input-container">
                <input class="input-field" type="password" @bind="password" placeholder="Пароль" required>
            </div>
            <div class="input-button-container">
                <input class="reg-button" type="submit" @onclick="GetUserFromDb" value="Войти"/>
            </div>
        </form>
    </div>
</div>
</body>

@code{
    private string? login;
    private string? password;
    static IConfigurationBuilder builder = new ConfigurationBuilder()
        .SetBasePath(Directory.GetCurrentDirectory())
        .AddJsonFile("appSettings.json", optional: true, reloadOnChange: true);
    static readonly IConfiguration Configuration = builder.Build();

    private static readonly string? Link =Configuration.GetConnectionString("DefaultConnection");


    async void GetUserFromDb()
    {
        //await Js.InvokeVoidAsync("showUser");
        Navigation.NavigateTo("/", true);
        if (login != null && password != null)
        {
            AccountController.user = await AccountController.Authorization(login , password);  
            await JSRuntime.InvokeVoidAsync("alert", "Вы вошли в аккаунт.");
        }
        

    }
}
