@page "/signin"
@using Npgsql;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.EntityFrameworkCore.Metadata

@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthentificationStateProvider

<head>
    <link rel="stylesheet" href="css/Registration.css">
</head>
<body>
    <div>
        <div style="margin-left: 40%">
        <h2>Авторизация</h2>
            <form method="post">
                <div class="input-container">
                    <input class="input-field" type="text" @bind="login" placeholder="Логин" required>
                </div>
                <div class="input-container">
                    <input class="input-field" type="password" @bind="password" placeholder="Пароль" required>
                </div>
                <div class="input-button-container">
                    <input class="reg-button" type="submit" @onclick="GoReg" value="Войти" />
                </div>
            </form>
         </div>
    </div>
</body>

@code{
    private string? login;
    private string? password;
    public static IConfiguration Configuration { get; }

    private static readonly string? Link1 = Configuration.GetConnectionString("DefaultConnection");

    private void GetUserFromDb()
    {
        NpgsqlConnection conn = new NpgsqlConnection();
        NpgsqlCommand cmd = new NpgsqlCommand();
        conn.ConnectionString = Link1;
        conn.Open();
        cmd.CommandText = $"";
        cmd.Connection = conn;
        cmd.ExecuteNonQuery();
        conn.Close();
    }

    private void GoReg()
    {
        Navigation.NavigateTo("/registration");
    }
}
