@page "/article_editor"

@using Wow.Controllers
@using Wow.Models
@using Blazored.TextEditor

<PageTitle>Редактор статьи</PageTitle>

<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            Редактор статьи
        </div>
        <form>
            <div>
                <input class="input-header-text" type="text" name="input-header" placeholder="Заголовок" @bind="@HeaderValue" required/>
                <select class="theme-select-cathegory" @bind="selectedValue" required>
                    <option value="">Категории</option>
                    <option value="Без категории">Без категории</option>
                    <option value="Новости">Новости</option>
                    <option value="Аддоны">Аддоны</option>
                    <option value="Игровые вопросы">Игровые вопросы</option>
                </select>
            </div>
            <div class="card-body mb-5" style="height:500px;">
                <BlazoredTextEditor @ref=QuillHtml Placeholder="Текст статьи...">
                    <ToolbarContent>
                        <select class="ql-header">
                            <option selected=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                        </select>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats"> 
                            <select class="ql-color"></select> 
                            <select class="ql-background"></select> 
                        </span> 
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button> 
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button> 
                        </span> 
                        <span class="ql-formats">
                            <button class="ql-video"></button> 
                        </span>

                    </ToolbarContent>
                </BlazoredTextEditor>

            </div>
            <div class="card-footer">
                <button class="btn btn-success" @onclick=@(async ()=> await SaveTheme() )>Готово</button>
            </div>
        </form>
    </div>
</div>



@code {
    private string selectedValue;
    private string HeaderValue { get; set; }


    private BlazoredTextEditor? QuillHtml;
    private MarkupString preview;

    private List<IBrowserFile> selectedFiles = new List<IBrowserFile>();

    private void HandleInputChange(ChangeEventArgs e)
    {
        HeaderValue = e.Value.ToString();
    }



    private async Task SaveTheme()
    {
        if(!string.IsNullOrWhiteSpace(await QuillHtml.GetText()))
        {
            
            var a = await QuillHtml.GetHTML();
            Theme theme = new Theme(AccountController.user.Login, a, selectedValue, HeaderValue, DateTime.Now);
            await ThemeController.WriteTheme(theme);
        }
    }
}
