.reg-body {
    margin: auto;
}

.reg-items {
    margin-left: 40%;
}

.paragraph {
    width: 20%;
}

.input-field{
}

.reg-button {
    outline: none;
    text-decoration: none;
    color: black;
    border: black solid 2px;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
}

.reg-button:hover{
    background-color: orange;
}

.input-container {
    margin: auto;
}

.input-button-container {
    margin: auto;
}

.sign-in-items {
    height:100%;
    margin-left: 40%;
/*    background: url(..\\Media\\seks.jpg) no-repeat;
    background-size: 100%;*/
}
body{
    height:100%;
    width: 100%;
}
/*.sign-in-items {
    background: white;
    margin: auto;
    width: 17%;
    
}*/