@inherits LayoutComponentBase

<PageTitle>Wow</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <nav>
                <div class="nav-items">
                    <div>
                        <a href="signin">SignIn</a>
                    </div>
                    <div>
                        <a href="registration">SignUp</a>
                    </div>
                </div>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
