@using Wow.Models
@using Wow.Controllers
@inherits LayoutComponentBase

<PageTitle>Wow</PageTitle>

<link rel="stylesheet" href="css/site.css">
@* <script src="script/script.js" language="JavaScript"></script> *@
<div>
    <main>
        <div style="width: 100%;">
            <nav>
                <div class="nav-items">
                    <div class="logo-container" style="height: 100%; width: 300px">
                        <a href="/">
                            <img class="logo" src="..\\Media\\Wowch_logo.png">
                        </a>
                        <a href="article_editor">Создать статью</a>
                        <a href="statistics">Популярные статьи</a>
                    </div>
                    <div class="links">
                        <a href="profile">
                            @if (AccountController.user != null)
                            {
                                @AccountController.user.Login
                                
                            }

                        </a>
                        <a href="signin" id="signin" accesskey="signin">Войти</a>

                        <a href="registration" id="signup">Зарегистрироваться</a>
                    </div>
                </div>
            </nav>
        </div>
        <hr />

        <article class="content px-4" style="width: 100%; height: 100%;">
            @Body
        </article>
        <footer style="f">
            <p>WoWch 2023 Copyright</p>
            <p>Связь с папой сайта - nzavilenski@gmail.com</p>
        </footer>
    </main>
</div>


@code
{
    
}
