@inherits LayoutComponentBase

<PageTitle>Wow</PageTitle>

<link rel="stylesheet" href="css/site.css">

<div>
    <main>
        <div style="width: 100%;">
            <nav>
                <div class="nav-items">
                    <div >
                        <a href="/">
                            <img class="logo" src="..\\Media\\Wowch_logo.png">
                        </a>
                    </div>
                    <div class="links">
                        <a href="signin">SignIn</a>
            
                        <a href="registration">SignUp</a>
                    </div>
                </div>
            </nav>
        </div>

        <article class="content px-4" style="width: 100%; height: 100%;">
            @Body
        </article>
    </main>
</div>
